{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block TITLE %}{% endblock %}</title>

    {% block CSS %}
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}">
    {% endblock %}
    {% block EXTRA_CSS %}{% endblock %}
</head>

<body>
{% block BODY %}
    <div class="container">
        {% include 'includes/menu.html' %}

        {% block CONTENT %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    {% block JS %}
    <script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
    {% block EXTRA_JS %}{% endblock %}
{% endblock %}
</body>
</html>
